@charset "UTF-8";
/* element rules */
html {
	scroll-behavior: smooth;
}

*{	
	font-family: Quicksand, arial, helvetica, sans-serif;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	max-width: 100%;
}

main{
	/* border: 5px solid yellow; */
	margin: 60px 0 0;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

h1 {
	font-size: 4rem;
	font-weight: normal;
}

h2 {
	font-size: 2.5rem;
	font-weight: normal;
}

h3 {
	font-size: 2rem;
	font-weight: normal;
}

h4 {
	font-size: 1.75rem;
	font-weight: normal;
}

h5 {
	font-size: 1.5rem;
	font-weight: normal;
	max-width: 80%;
	text-align: center;
}

h1, h2, h3, h4, h5,p, #home-link {
	color: #2F4F4F;
}

p {
	font-size: 1.25rem;
	max-width: 80%;
} 
	
img{
	max-width: 100%;
	display: block;
}

a {
	color: #fff;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

button {
	padding:  0;
	border: 0;
	cursor: pointer;
}

.hide {
	display: none;
}

/* component rules */
.section {
	/* border: 5px solid red; */
	width: 100%;
}
.section-container {
	/* border: 5px solid purple; */
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
	gap: 3rem;
}
.section-container-title {
	/* border: 2px solid; */
	max-width: 85%;
	text-align: center;
}
.section-container-img{
	/* max-width: 85%; */
}
.section-item {
	/* border: 5px solid blue; */
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.section-item-title {
	font-size: 1.625rem;
	align-self: flex-start;
}
.sub-section{
	/* border: 5px solid green; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.sub-section-title h3 {
	text-align: center;
	margin-top: 2rem;
}
.article {
	/* border: 5px solid yellow; */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	width: 100%;
	margin: 0 auto;
}
.article-title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
	margin-bottom: 1rem;
}
.article-ul {
	width: 90%;
	max-width: 640px;
}
.article-li,
.workflow-li {
	font-size: 1.25rem;
	color: #2F4F4F;
	list-style: disc outside;
	margin-bottom: .5rem;
}
.icon-container {
	box-sizing: content-box;
	color: #2F4F4F;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 12px;
	font-size: 2.5rem;
}
.grid-frame{
	/* border: 5px solid orange; */
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1rem;
	max-width: 85%;
}
.grid-item{
	/* border: 5px solid greenyellow; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem;
}
.grid-title-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	gap: 1rem;
}
h4.grid-item-title{
	font-size: 1.5rem;
}
p.grid-item-title{
	font-size: 1rem;
	flex: 1;
}
/* card-container */
.card-component {
	/* border: 5px solid coral; */
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, auto);
	background-color: #ffffff;
	justify-items: center;
	gap: 2rem;
}
.card-img-frame {
	display: flex;
	align-items: center;
}
.image-cover{
	height: 100%;
	object-fit: cover; 
}
.card-text-frame {
	/* border: 5px solid; */
	height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 1.5rem;
}
.card-text {
	height: 100%; 
	display: flex;
	flex-direction: column;
	justify-content: space-evenly; 
	gap: 1.5rem;
}
.card-text p span {
	font-weight: bold;
}

/* button rules */
.cta {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.double-cta{
	justify-content: space-around;
	max-width: 770px;
}
.cta-button,
.next-button {
	border-radius: 4px;
	background-color: #06d6a0;
	color: #fff;
	font-weight: bold;
	font-size: 1.375rem;
	text-align: center;
	padding: .375rem;
}
.projects-button{
	background-color: #ff9822;
}
.next-button {
	background-color: #ff9822;
	padding-left: 28px;
	padding-right: 28px;
}
.link {
	color: #ff9822;
}


@media screen and (min-width: 600px) {
	.section-container-img {
		max-width: 70%;
	}
	.section-item{
		width: 90%;
	}
	.article p{
		max-width: 520px;
	}
	.article-image-container {
		/* border: 5px solid orchid; */
		max-width: 480px;
	}
	.card-component {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		gap: 0;
	}
	.card-text-frame {
		padding: 1rem;
	}
	.card-cta {
		justify-content: space-evenly;
	}
	.grid-frame {
		/* border: 5px solid; */
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 80%;
	}
	.grid-title-container {
		justify-content: center;
		gap: 1rem;
	}
}

@media screen and (min-width: 770px) {
	.section-item {
		width: 80%;
	}
	.section-container-title, /*TODO*/
	.section-item-title {
		align-self: center;
	}
	.section-container-title{
		margin-left: 0;
	}	
	.card-text-frame {
		padding: 2rem;
	}	
}

/* main nav */
.main-nav {
	background-color: #fff;
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #f9f9f9;
}
.nav-bar {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .75rem 2rem .75rem 1rem;
}
.logo {
	font-size: 1.5rem;
	flex: 1;
}
.fa-bars,
.fa-times {
	box-sizing: content-box;
	color: #fff;
	background-color: #2F4F4F;
	font-size: 1.5rem;
	padding: .375rem;
	border-radius: 6px;
	float: right;
	cursor: pointer;
}
.fa-times {
	padding: .375rem .550rem;
}
.dropdown-container {
	width: 100%;
	background-color: rgba(47, 79, 79, 0.9);
	padding: 1.5em;
	padding-bottom: 5rem;
	position: absolute;
	z-index: 1000;
}
#nav-menu-ul {
	font-size: 3rem;
	color: #fff;
	text-align: right;
	text-transform: uppercase;
	margin-bottom: 2rem;
}
#nav-menu-ul a:hover {
	color: #ff9822;
}
.desktop-nav li {
	display: none;
}
.nav-contact-ul {
	font-size: 1.125rem;
	line-height: 3;
	letter-spacing: 1.5px;
}
.nav-contact-ul li {
	padding-top: 2rem;
	line-height: 2rem;
}
li#lets-talk {
	font-size: 1.75rem;
	text-transform: uppercase;
	padding-top: 2.75rem;
	border-top: 1px solid #fff;
	margin-bottom: 0;
}
#lets-talk,
.nav-contact-ul a,
.contact-details h2,
.contact-details a {
	color: #ff9822;
}
.nav-contact-ul span {
	color: #fff;
}

@media screen and (max-height: 520px) {
	.dropdown-container {
		display: flex;
		flex-direction: row-reverse;
		max-height: 87vh;
	}
	#nav-menu-ul {
		height: 100%;
	}
	li#lets-talk {
		font-size: 1.75rem;
		text-transform: uppercase;
		padding-top: 0;
		border-top: 0;
		margin-top: 1rem;
		margin-bottom: 0;
	}
}

/* hero */
.hero-banner {
	padding-top: 60px;
	min-height: 100vh;
	background-image: url(../images/hero-jigsaw.jpg);
	background-size: cover;
	background-color: #ff9a24;
}
.hero-banner .section-container {
	height: 85vh;
	justify-content: space-evenly;
	gap: 0;
}
.hero-grabline-landscape h1 {
	font-size: 3rem;
}
#hero-make,
#hero-ideas,
#hero-happen {
	color: #2F4F4F;
	opacity: 0;
	transition: opacity 1.8s ease 500ms;
	margin: auto;
}
#hero-ideas {
	transition: opacity 2.2s ease 1.6s;
}
#hero-happen {
	transition: opacity 2.2s ease 2.6s;
}
.hero-tagline {
	max-width: 65%;
}
.hero-tagline h3 {
	color: #fff;
	font-size: 1.5rem;
}
.chevron {
	color: #fff;
	cursor: pointer;
}

@media screen and (orientation: landscape) {
	.section.hero-banner {
		justify-content: space-evenly;
	}
	.hero-grabline-landscape h1 {
		display: inline;
	}
	#hero-make,
	#hero-ideas,
	#hero-happen {
		padding-right: 1.5rem;
	}
}

@media screen and (min-width: 767px) {
	.hero-grabline-landscape h1 {
		font-size: 4rem;
	}
	.hero-tagline h3 {
		font-size: 2rem;
	}
}

@media screen and (min-width: 1023px) {
	.hero-grabline-landscape h1 {
		font-size: 5.5rem;
	}
}

@media screen and (max-width: 260px) {
	.hero-grabline-landscape h1 {
		font-size: 2.5rem;
	}

	.hero-tagline h3 {
		font-size: 1.25rem;
	}
}

/* intro */

/* process */
.process{
	background-image: url(../images/design-banner-waves-mobile-w1280-h1920.jpg);
	background-position: left center;
	background-size: cover;
	background-color: #D5DDEF;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.process-header-card{
	max-width: 720px;
	background: rgba(0, 0, 0, 0);
}
.process-header-card-text{
	align-items: flex-start;
}
.process-card-icon-frame {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
}
.process-card-icon-frame>h3 {
	font-weight: normal;
}
.process-icon-container {
	color: #cdd3de;
	font-size: 7.5rem;
} 

@media screen and (min-width: 600px) {
	.process {
		background-image: url(../images/design-banner-waves.jpg);
		background-attachment: fixed;
	}	
	.process-card-icon-frame {
		flex-direction: row;
	}
	.process-icon-container {
		font-size: 3.25rem;
	}
}

/* work */
.work{
	padding-top: 60px;
}

/*TODO contact section index.html and contact.html */

.contact-hero {
	min-height: 65vh;
	background-image: url(../images/greenwich-skyline-be59bd.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: 56px; */
	padding: 4rem 0;
}

#index {
	background-attachment: fixed;
}

.contact-hero-text {
	max-width: 80%;
}

.contact-hero-text h2 {
	font-family: 'Archivo Black', sans-serif;
	color: #ff9822;
	font-size: 6rem;
	text-transform: uppercase;
	text-align: center;
	padding: 2rem 0;
	border-bottom: 5px double #fff;
	margin: 0 auto;
	width: 600px;
	max-width: 90%;
}

.contact-hero-text p {
	max-width: 440px;
	font-size: 1.375rem;
	font-weight: 500;
	color: #fff;
	letter-spacing: .5px;
	padding: 2rem 0;
	margin: 0 auto;
}

#meet {
	padding: 0;
	text-align: center;
}

.contact-details {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 3rem;
	text-transform: uppercase;
}

.contact-details-content h2,
.contact-details-content p {
	padding: 1rem 0;
	margin: 0 auto;
}

.contact-details-content h2 {
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
}

.contact-details span {
	color: #2F4F4F;
	letter-spacing: 1.1px;
	line-height: 1.8;
	text-transform: lowercase;
}

.fa-paper-plane {
	color: #dbe1ed;
	font-size: 4rem;
	align-self: flex-end;
	margin-right: 28%;
}

@media screen and (max-width: 720px) {
	.contact-hero-text h2 {
		font-size: 4rem;
		/*-----add contact-hero-text h2 font-size for max-width: 720px-----*/
	}
}

@media screen and (max-width: 460px) {
	.fa-paper-plane {
		margin: 0 auto;
	}
}

@media screen and (max-width: 363px) {

	.contact-hero-text h2,
	.contact-details-content h2 {
		font-size: 2.75rem;
	}

	.contact-details-content h2 {
		text-align: center;
	}

	.contact-details-content p a {
		font-size: 1.125rem;
		max-width: 90%;
	}
}

@media screen and (max-width: 285px) {

	.contact-hero-text h2,
	.contact-details-content h2 {
		font-size: 2.25rem;
	}

	.contact-hero-text p {
		font-size: 1.125rem;
	}

	.contact-details-content p a {
		font-size: 1rem;
	}
}

/* footer */
.footer-content {
	max-width: 1280px;
	margin: 0 auto;
}

footer {
	min-height: 20vh;
	background-color: #282828;
	/*#aaa;*/
	/*#dbe1ed;*/
	display: flex;
	align-content: center;
	padding: 2rem 0;
}

.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer p,
.footer-nav li {
	font-size: 1rem;
	color: #dbe1ed;
	text-transform: uppercase;
	letter-spacing: 1.1px;
}

.footer-nav li,
.footer-icon-nav li {
	display: inline;
}

.footer-icon-nav li {
	font-size: 2.25rem;
	margin: 1rem;
}

.footer-content p,
.footer-nav {
	padding-top: 1.5rem;
}

.footer-content a:hover {
	color: #dbe1ed;
}

.footer-nav li {
	margin: 0 1rem;
}

@media screen and (max-width: 480px) {

	footer p,
	.footer-nav li {
		font-size: .75rem;
	}
}

@media screen and (max-width: 380px) {
	footer p {
		max-width: 60%;
		text-align: center;
	}
}

@media screen and (max-width: 363px) {
	.footer-nav li {
		margin: 0 .25rem;
	}
}

@media screen and (max-width: 295px) {
	footer p {
		max-width: 65%;
	}
}

@media screen and (max-width: 280px) {
	footer p {
		max-width: 60%;
	}

	footer p,
	.footer-nav li {
		font-size: .5rem;
	}
}

@media screen and (max-width: 240px) {
	.contact-details-content p a {
		font-size: .75rem;
	}
}

/*TODO work project page */

/* TODO project hero styles */
.project-title-hero {
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem auto 0;
	overflow: hidden;
}
.project-logo {
	max-width: 40%;	
	margin-left: 8%;
}
.project-logo p {	
	padding-top: 1.2rem;
	font-size: 1.5rem;
	letter-spacing: 0.5px;
	text-align: center;
}
.tsunami-logo {
	margin-top: .5rem;
}
#boothroyds-font {
	font-family: 'Coustard', serif;
	color: #26ADE4;
	font-size: 1.25rem;
}
#tsunami-font {
		font-family: 'Syne', san-serif;
	color: #541c20;
	font-style: italic;
}
#project-imac-mockup {
	max-width: 92%;
	float: right;
	margin-top: 2.5rem;
	margin-right: -40%;
	overflow: hidden;
}
@media screen and (max-width: 344px) {
	#boothroyds-font {
		font-size: .75rem;
	}
}
@media screen and (max-width: 374px) {
	.project-logo p {
		font-size: 1.125rem;
	}
}
@media screen and (max-width: 286px) {
	.project-logo p {
		font-size: 1rem;
	}
}
@media screen and (min-width: 472px) {
	.project-logo p {
		font-size: 1.5rem;
		padding-top: 2rem;
	}
}
@media screen and (min-width: 670px) {
	.project-logo p {
		padding-top: 3.5rem;
	}
	.project-logo p {
		font-size: 2rem;
		padding: 4rem 2rem;
	}
}
@media screen and (min-width: 1080px) {
	.project-title-hero {
		max-width: 980px;
	}
	.project-logo {
		max-width: 30%;
		margin: 0;
	}
	#project-imac-mockup {
		margin: 0;
	}
}

.project-summary {
	background-color: #dcdcdc;
	padding: 2rem 0 3rem;
}
.work-grid-item {
	padding: 0;
}
.project-about{
	padding-bottom: 4rem;	
}
@media screen and (min-width: 600px) {
	.project-about-item>.sub-section:nth-child(even)>.article {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.project-about-item>.sub-section:nth-child(even)>.article>* {
		width: 50%;
	}
	.work-grid-item {
		padding: 1rem;
	}
}

/* projects page */
.hero-image-tilt {
	position: relative;
	/* required for .overlap position:absolute centre rotate*/
	width: 100%;
	height: 50vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: orange;
	z-index: 1;
}

.hero-text-frame {
	max-width: 1280px;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	z-index: 11;
	background-color: rgba(0, 0, 0, 0.15);
}

.hero-text {
	color: #ffffff;
	font-weight: bold;
	padding-left: 5%;
}

.hero-text-frame h1 {
	font-size: xx-large;
}

.hero-text-frame h2 {
	font-size: x-large;
}

.hero-text-frame h3 {
	font-size: large;
}

.overlap {
	width: 200%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;

	/* centre rotate within .hero-image-tilt */
	position: absolute;
	left: 50%;
	top: 50%;
	transform-origin: center;
	transform: translate(-50%, -50%) rotate(20deg);
}

.overlap-group {
	display: contents;
	/* place images directly in the .overlap grid */
}

.overlap-group img {
	width: 100%;
	height: auto;
}

.projects {
	padding-bottom: 4rem;
}

@media screen and (min-width: 600px) {
	.hero-image-tilt {
		height: 80vh;
	}
	.overlap {
		width: 160%;
	}
	.hero-text-frame {
		left: 5%;
		width: 360px;
		height: 360px;
		border-radius: 50%;
		padding: 2%;
	}
}

/* case-study */
.case-hero-container h1 {
	font-size: 3rem;
	font-weight: bold;
}

.case-hero-containert h3 {
	font-size: 1.5rem;
	max-width: 75%;
}

@media screen and (min-width: 600px) {
	.case-hero-container {
		gap: 4rem;
	}

	.case-hero-container h3 {
		max-width: 50%;
	}
}

.overview-text {
	/* border: 5px solid; */
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
}

.overview-main {
	/* border: 5px solid cyan;       */
	width: 80%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}

.overview-p {
	margin-top: 1rem;
}

.overview-side {
	/* border: 5px solid cyan; */
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.overview-side-content {
	/* border: 5px solid cyan; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: .5rem;
}

.overview-side-text h5 {
	font-size: large;
	font-weight: bold;
	text-align: center;
}

.overview-side-text p {
	font-size: medium;
	text-align: center;
	margin-bottom: .7rem;
}

@media screen and (min-width: 600px) {
	.overview-text {
		width: 80%;
		flex-direction: row;
	}

	.overview-main {
		width: 60%;
		margin-bottom: 0;
	}

	.overview-side-text h5 {
		text-align: left;
	}

	.overview-side-text p {
		text-align: left;
	}
}

.workflow-ul {
	/* border: 5px solid yellow; */
	margin-top: 2rem;
}

.workflow-ul li {
	margin-bottom: .25rem;
	list-style: disc inside;
}

@media screen and (min-width: 1020px) {
	.workflow-frame {
		/* border: 5px solid; */
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: 100%;
	}
}

#strategy-item {
	/* border: 5px solid cyan; */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

@media screen and (min-width: 600px) {
	#strategy-item {
		max-width: 690px;
		flex-direction: row;
		justify-content: center;
		align-items: normal;
	}
}

.prototype {
	border: 5px solid magenta;
	width: 100%;
}

/* configure mqs max-width descending value, min-width ascending value */
/* max-width - if a device is less than or equal to ..px, then do {…} */
/*- min-width - if a device is greater than or equal to ..px, then do {…} */

/*-----That's all folks-----*/
